[user]
  email = joeycheung0@gmail.com
  name = Joey Cheung

[github]
  user = JoeyCheung

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false
  autocrlf = input

[alias]
  cl = clone
  ci = commit
  co = checkout
  br = branch 
